@font-face {
  font-family: Muli;
  src: url("fonts/muli.ttf");
}
body {
  margin-bottom: 80px;
  line-height: 1.6;
  font-family: Muli;
}
p {
  color: #808080;
  font-size: 16px;
}
h1 {
  font-size: 20px;
}
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  /*	text-shadow: 0 1px white; nope*/
  font-family: Consolas, "Source Code Pro", Menlo, Monaco, "Andale Mono",
    "Ubuntu Mono", monospace;
  font-size: 12px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"] code em {
  font-style: italic;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
  background: #f1f1f1;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.w3-table,
.w3-table-all {
  margin: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

.w3-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
}

.w3-example pre[class*="language-"] {
  background: #f5f2f0;
  background: #f1f1f1;
  border-left: 4px solid #4caf50;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  /*background: hsla(0, 0%, 100%, .5);*/
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
  color: #dd4a68;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  position: relative;
  bpadding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 10px;
  right: 10px;
  left: 0;
  right: 0;
  dpadding: inherit 0;
  margin-top: 1em; /* Same as .prisms padding-top */

  background: hsla(270, 100%, 60%, 0.08);
  background: hsla(0, 0%, 70%, 0.08);
  /*	background: linear-gradient(to right, hsla(0, 0%, 50%,.08) 70%, hsla(24, 20%, 50%,0));*/

  pointer-events: none;

  line-height: inherit;
  white-space: pre;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none;
}
